* {
  font-family: "Teshrin-400" !important;
}
.text-cool-gray-100 {
  min-width: 64px;
  margin-inline-start: 10px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.5rem;
}

@media print {
  .cv {
    height: 100vh !important;
  }
  .print-hidden {
    display: none;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 0.5rem;
  }
}
