* {
  font-family: "Teshrin-400" !important;
}
:root {
  --main-color: #fad400;
  --main-dark-color: rgb(234 179 8);
}

.text-main-color {
  color: var(--main-color);
}

.bg-main-color {
  background-color: var(--main-dark-color);
}

.line-bg {
  background-color: var(--main-dark-color);
}
.text-cool-gray-100 {
  min-width: 64px;
  margin-inline-start: 10px;
  background-color: var(--main-dark-color);
}
.hover-text-amber-600:hover{
  color:var(--main-dark-color);
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.5rem;
}

@media print {
  @page{
    margin: 0;
    scale: 0.75;
    padding: 0;
  }
  .cv {
    height: 100vh !important;
  }
  .print-hidden {
    display: none;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 0.5rem;
  }
}
